.albums {
    .x-list .x-list-item.x-list-item-tpl .x-innerhtml {
        padding : 0 !important;
    }
    .album, .x-list .x-list-item {
        min-height: 80px !important;
        overflow: hidden;
    }
    img {
        width : 25%;
        float:left;
    }
    .album-meta {
        padding : 5px;
        span{
            display:block;
            font-size: 12px;
        }
    }
    .x-list .x-list-header {
        border: none !important;
        background : rgba(238, 238, 238, 0.93);
        height:40px;
    }
}
.x-picker{
    background-color: $black;

    .x-picker-item{
        color:#fff;
        height:auto;
    }
    .x-picker-mask{
        
        .x-picker-bar{
            height:2.5em;
            background-color:$red-rbga;
        }
    }

    .x-button{
        background-color:$red;
        color:#fff;
        @include border-radius(3px);
        border: none;
        padding: 5px 15px;
        margin: 0 10px;
    }

    .x-picker-slot .x-dataview-item {
        height: 2.5em;
        line-height: 2.5em;
        font-weight: bold;
        padding: 0 10px;
        vertical-align: middle;
    }
}

.x-msgbox{
    background-color: $black;

    .x-button{
        background-color:$red;
        color:#fff;
        @include border-radius(3px);
        border: none;
        padding: 5px 15px;
        margin: 0 10px;
    }    
}